body {
  background-color: #d9d9d9;
  font-family: Inter;
  width: 50em;
  margin: 0 auto;
}

/* Navigation bar */

.navbar {
  background-color: #363636;
  display: flex;
  margin: 6em 6em 1em;
  width: 40em;
  height: 3em;
  color: #ffffff;
  border-radius: 23px;
}

.nav-text {
  padding: 13px;
  font-weight: bold;
}
.nav-text,
.movies,
.profile {
  text-decoration: none;
  color: #ffffff;
  margin-left: 15px;
}

.logout {
  text-decoration: none;
  color: #ff0606;
  margin-left: 250px;
}

.nav-text,
.home {
  text-decoration: none;
  color: #ffffff;
  margin: 0 20px 0 10px;
}

.home {
  font-size: 18px;
}

/* Profile Headings */

.profile-heading,
.movie-heading,
.available-heading {
  color: #000000;
  padding: 15px 0 20px 0;
  font-size: 25px;
  text-align: center;
}

.profile-heading {
  padding-bottom: 0;
}

/* Profile content */

.profile-box,
.movie-box,
.available-box {
  background-color: #ffffff;
  width: 40em;
  height: 19em;
  margin: 1em 6em 1em;
  border-radius: 23px;
  position: relative;
}
.movie-box {
  height: 16em;
}
.available-box {
  height: 23em;
}

.profile-info {
  margin: 75px 0 0 30px;
  position: absolute;
  left: 230px;
}

span {
  font-weight: bold;
  font-size: 17px;
}

/* Images */

.profile-img {
  width: 151px;
  float: left;
  margin: 35px 20px 30px 80px;
}

.green,
.red {
  width: 20px;
  margin-left: 110px;
}

/* Butttons */

.buttons {
  margin-top: 60px;
  float: left;
}

.reset-password,
.reset-email {
  margin-right: 20px;
  border-radius: 12px;
  border-style: none;
  width: 130px;
  height: 25px;
  font-size: 14px;
  background-color: #363636;
  color: #ffffff;
  margin-top: 10px;
  position: absolute;
}

.reset-password {
  right: 255px;
}

.reset-email {
  right: 95px;
}

.movie-btn-remove {
  border-style: none;
  background-color: #c93333;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  margin-left: 80px;
}

.movie-btn-rent {
  border-style: none;
  padding: 0 30px 0 30px;
  background-color: #363636;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  margin-left: 50px;
}

/* Content */

.value {
  font-size: 13px;
  font-weight: bold;
  padding: 3px 17px;
  background-color: #ffffff;
}

.smaller-than, .bigger-than {
  background-color:#363636;
  padding: 0 6px 1px;
  color: #ffffff;
}

.titles {
  margin-top: 20px;
  display: flex;
}

.titles div {
  margin-left: 45px;
  font-weight: bold;
  font-size: 18px;
}

.time {
  padding-left: 5px;
}
.price {
  padding-left: 50px;
}



.movie-desc1,
.movie-desc2,
.movie-desc3,
.movie-desc4,
.movie-rent1,
.movie-rent2,
.movie-rent3,
.movie-rent4 {
  position: absolute;
  width: 500px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  background-color: #d9d9d9;
}

.movie-desc1 {
  left: -15px;
}

.movie-desc2 {
  bottom: 48px;
  left: -15px;
}

.movie-rent1 {
  left: -15px;
}
.movie-rent2 {
  bottom: 160px;
  left: -15px;
}
.movie-rent3 {
  bottom: 107px;
  left: -15px;
}
.movie-rent4 {
  bottom: 54px;
  left: -15px;
}

.movie-name,
.movie-gender,
.movie-price,
.movie-time,
.movie-btn-remove,
.movie-price-for,
.available {
  font-weight: 600;
  font-size: 15px;
  padding: 9px;
}
.movie-name {
  padding-left: 20px;
}
.movie-gender {
  margin-left: 25px;
}

.movie-time {
  margin-left: 35px;
}

.movie-price {
  margin-left: 18px;
}
.movie-price-for {
  margin-left: 45px;
}

select {
  appearance: none;
  border: none;
  width: 85px;
  height: 20px;
  text-align: center;
}

/* Inputs */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #d9d9d9;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 18px;
}

input[type=submit] {
  background-color: #363636;
  text-align: center;
  color: white;
  padding: 8px 50px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 18px;
}

.submit-button {
  margin-left: 85px;
}

.container, .second-container {
  margin: 0 auto;
  width: 20em;
  align-items: center;
  margin-top: 100px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 20px;
}

.second-container {
  margin-top: 25px;
}